
.container {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 190px;
    padding-top: 50px;
    background-color: rgb(231, 231, 231);
    /* margin-left: 5%;
    margin-left: 5%; */
    /* bottom: 200px; */
    justify-content: center; 
    overflow: hidden;
    
}

.container::before {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0px;
    margin-top: -60px;
    padding: 0px 0px 0px -40px;
    background-color:  #100c08;
    content: ". . .    Projects";
    // justify-content: center;
    font-weight: 600;
    font-size: 33px;
    font-family: 'Playfair Display', serif;
    color: rgb(231, 231, 231);
  /* text-align: center; */

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}
.container::after{
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  
  border-left: 45px solid rgb(231, 231, 231);
  position: absolute;
  right: 155px;
  margin-top: -60px;
  background-color:  #100c08;
  content: '';

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}

.firstProjectGif::before {
    position: absolute;
    width: 600px;
    height: 50px;
    content: 'Particle Geometry Simulator';
    top: -50px;
    left: 0px;
    /* background-color: rgb(231, 231, 231, 0.1);
    color:rgb(194, 55, 55); */
    font-size: 35px;
    font-family: 'Playfair Display', serif;

    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #ec3a04, #f0ba0a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorGradient 10s infinite linear;
  }
  
  

.firstProjectGif {
    position: relative;
    width: 400px;
    height: 400px;
    top: 40px;
    margin: 0 auto;
    // margin-right: 10%;
    transform-style: preserve-3d;
    box-shadow: 2px 3px 30px 9px rgba(0,0,0,0.58);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    /* z-index: 999; */

    /* animation-name: opacityDown; */
    animation-duration: 0.75s;
    
}
.firstProjectPicture{
    width: inherit;
    height: inherit; 
    background-image: url('../../assets/gifTry6.gif');
    background-size: 100% 100%;   
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    animation-duration: 0.75s;
    transition: all 0.5s ease-out;
    border: black solid 3px;
}

.firstProjectDescription {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40px;
    right: 40px;
    transform: translateZ(-10px);
    cursor: pointer;
    box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.81);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    transition: all 0.5s ease-in;

    /* animation-name: opacityDown;  */
    /* animation-duration: 0.75s; */
    /* opacity: 50%; */

    background-color: #100c08;
}

.firstProjectDescription::before {
  position: absolute;
  width:300px;
  height: 40px;
  background-color:coral;
  box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
  content: 'Description';
  padding-left: 25px;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: rgb(231, 231, 231);
  left:-20px;
  top:20px;
}
.firstProjectDescription::after {
  position: absolute;
  content: '';
  left:-20px;
  top:60px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #74240c transparent transparent;
}

.firstProjectDescription > p {
  float:left;
  color: aliceblue;
  font-size: 18px;
  margin-top: 65px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Times New Roman';
}
// .firstProjectDescription > p > h5 {
//   color:white;
//   font-size: 19px;
//   float:left;
//   height: 1px;
// }

.firstProjectDescription > span::before {
  position: absolute;
  width:300px;
  height: 40px;
  background-color:coral;
  box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.5);
  content: 'Technologies';
  padding-left: 25px;
  font-size: 24px;
  font-family: 'Playfair Display', serif;
  color: rgb(231, 231, 231);
  left:-20px;
  top:245px;
}
.firstProjectDescription > span::after {
  position: absolute;
  content: '';
  left:-20px;
  top:285px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 0;
  border-color: transparent #74240c transparent transparent;
}
.firstProjectDescription > div {
  position: absolute;
  top: 300px;
  left: 20px;
  display: grid; 
  grid-template-columns: 50px 150px 50px 150px; 
  grid-template-rows: 50px 50px; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."; 
  color: aliceblue;
}

.firstProjectDescription > div > span {
  margin-top: 10px;
  margin-left: 5px;
}


.firstProjectDescription:hover {
    transform: z
}

.firstProjectDescription[animate='1'] {
    animation: opacityDown 0.75s 1;
}

.secondProjectGif::before {
    position: absolute;
    width: 600px;
    height: 50px;
    content: 'Weather Application';
    top: -50px;
    left: 0px;
    font-size: 35px;
    font-family: 'Playfair Display', serif;

    color: #100c08;
    background-image: -webkit-linear-gradient(92deg, #000000, rgb(141, 141, 141));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorGradient 10s infinite linear;
}
.secondProjectGif {
    position: relative;
    width: 400px;
    height: 400px;
    top: 40px;
    margin: 0 auto;
    box-shadow: 2px 3px 30px 9px rgba(0,0,0,0.58);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    
    transform-style: preserve-3d;
}

.secondProjectPicture {
    width: inherit;
    height: inherit; 
    background-color: rgba(100, 19, 19, 0.1);
    background-image: url('../../assets/gifWeatherTry3.gif');
    background-size: 100% 100%; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    transition: all 1s ease-in;
}

.secondProjectDescription {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 40px;
  left: 40px;
  transform: translateZ(-10px);
    box-shadow: 2px 3px 22px 9px rgba(0,0,0,0.81);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    /* -webkit-animation-name: opacityDown; */
      animation-duration: 0.75s;
    /* margin: 0 auto; */
    transition: all 1s ease-in;
    background-color: #100c08;
}

@keyframes colorGradient {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-40deg);
  }
}

@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
@keyframes firstProjectColorAnimation {
    0% {
        color:rgb(194, 55, 55);
        opacity: 1;
    } 25% {
        color:rgb(216, 97, 0);
        opacity: 0.8;
    } 50% {
        color:rgb(248, 179, 51);
        opacity: 0.7;
    } 75% {
        color:rgb(216, 97, 0);
        opacity: 0.8;
    } 100% {
        color: rgb(194, 55, 55);
        opacity: 1;
    }

    /* from {
      color:rgb(194, 55, 55);
    }
  
    to {
      color:rgb(216, 97, 0);
    } */
  }

@keyframes opacityDown {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 10%;
    }
  }

  @keyframes opacityUp {
    from {
      opacity: 10%;
    }
  
    to {
      opacity: 100%;
    }
  }

  @media only screen and (min-width: 1600px) {
    .container::before,
    .container::after {
        margin-top: -70px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .container::before,
    .container::after {
      margin-top: -30px;
    }
  }

  @media only screen and (max-width: 1110px) {
    .container {
      height: 1050px;
    }
    .secondProjectDescription {
      left:-40px;
      bottom: -40px;
    }
    .secondProjectGif {
      margin-top: -20px;
    }
  }

  