
.container {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 190px;
    background-color: rgb(231, 231, 231);
    /* margin-left: 5%;
    margin-left: 5%; */
    /* bottom: 200px; */
    justify-content: center; 
    
}

.container::before {
    width: 200px;
    height: 50px;
    position: absolute;
    right: 0;
    margin-top: -60px;
    margin-right: -45px;
    padding: 0px 0px 0px -40px;
    background-color:  #100c08;
    content: "Projects";
    font-weight: 600;
    font-size: 33px;
    font-family: 'Playfair Display', serif;
    color: rgb(231, 231, 231);
  /* text-align: center; */
     border-radius: 0px 10px 10px 0px;

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}
.container::after{
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  
  border-left: 45px solid rgb(231, 231, 231);
  position: absolute;
  right: 155px;
  margin-top: -60px;
  background-color:  #100c08;
  content: '';

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}

.firstProjectGif {
    position: relative;
    width: 400px;
    height: 400px;
    top: 40px;
    margin: 0 auto;
    margin-right: 10%;
    transform-style: preserve-3d;
    /* z-index: 999; */

    /* animation-name: opacityDown; */
    animation-duration: 0.75s;
    
}
.firstProjectPicture{
    width: inherit;
    height: inherit; 
    background-image: url('../../assets/gifTry6.gif');
    background-size: 100% 100%;   

    animation-duration: 0.75s;
    transition: all 0.5s ease-out;
}

.firstProjectDescription {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40px;
    right: 40px;
    transform: translateZ(-10px);
    cursor: pointer;

    transition: all 0.5s ease-in;

    /* animation-name: opacityDown;  */
    /* animation-duration: 0.75s; */
    /* opacity: 50%; */

    background-color: #100c08;
}

.firstProjectDescription[animate='1'] {
    animation: opacityDown 0.75s 1;
}
.secondProjectGif {
    position: relative;
    width: 400px;
    height: 400px;
    top: 40px;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.secondProjectPicture {
    width: inherit;
    height: inherit; 
    background-color: rgb(231, 231, 231, 0.1);
    background-image: url('../../assets/gifWeatherTry3.gif');
    background-size: 100% 100%; 

    transition: all 1s ease-in;
}

.secondProjectDescription {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 40px;
    left: 40px;
    transform: translateZ(-10px);

    /* -webkit-animation-name: opacityDown; */
      animation-duration: 0.75s;
    /* margin: 0 auto; */
    transition: all 1s ease-in;
    background-color: #100c08;
}

@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes opacityDown {
    from {
      opacity: 100%;
    }
  
    to {
      opacity: 10%;
    }
  }

  @keyframes opacityUp {
    from {
      opacity: 10%;
    }
  
    to {
      opacity: 100%;
    }
  }

  @media only screen and (min-width: 1600px) {
    .container::before,
    .container::after {
        margin-top: -20px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .container::before,
    .container::after {
      margin-top: -30px;
    }
  }

  