@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Merriweather&family=Playfair+Display:wght@500&display=swap');

.container {
    background-color: rgb(231, 231, 231);
    width: 98vw;
    height:500px;
    display: flex;
    position: relative;

    >a{ cursor: pointer; }

    .chainGif {
      width: 100px;
      height:100px;
      right:35px;
      bottom:-10px;
      position:absolute;
      z-index: 999 !important;

      img[alt~="secondChain"]{
        position:absolute;
        top: 15px;
        left: -40px;
      }   
      
      img[alt~="firstChain"]{
        position: absolute;
        top: 10px;
      }  
    }

    &:after { 
      background-size:cover;
      content: '';
      width: 100px;
      height:100px;
      right:80px;
      bottom:-15px;
      position:absolute;
      rotate: -10deg;
      z-index: 999 !important;
    }
}

.container > a:before {
    content: '';
    background-image: url('../../assets/githubWhite.png');
    background-repeat: no-repeat;
    background-size: 60% 100%;
    background-position-x: center;

    width: 75px;
    height:40px;

    right:80px;
    bottom:-55px;
    rotate: -7deg;

    border: 3px solid rgb(126, 126, 126);
    border-radius: 10px 10px 10px 10px;
    position:absolute;
    z-index: 999 !important;

    animation: animationFrames linear 6.20s;
    animation-iteration-count: infinite;
    transform-origin: 100% 0%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames linear 6.20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 100% 0%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/   
}

  @keyframes animationFrames{
    0% {
      transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
    23% {
      transform:  translate(-25px,-14px)  rotate(-11deg) ;
    }
    31% {
      transform:  translate(-25px,-14px)  rotate(-11deg) ;
    }
    51% {
      transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
    72% {
      transform:  translate(67px,-1px)  rotate(8deg) ;
    }
    79% {
      transform:  translate(67px,-1px)  rotate(8deg) ;
    }
    86% {
      transform:  translate(48px,0px)  rotate(6deg) ;
    }
    100% {
      transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
      -webkit-transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
    23% {
      -webkit-transform:  translate(-25px,-14px)  rotate(-11deg) ;
    }
    31% {
      -webkit-transform:  translate(-25px,-14px)  rotate(-11deg) ;
    }
    51% {
      -webkit-transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
    72% {
      -webkit-transform:  translate(67px,-1px)  rotate(8deg) ;
    }
    79% {
      -webkit-transform:  translate(67px,-1px)  rotate(8deg) ;
    }
    86% {
      -webkit-transform:  translate(48px,0px)  rotate(6deg) ;
    }
    100% {
      -webkit-transform:  translate(35px,-2px)  rotate(-3deg) ;
    }
  }

.description {
    align-items: stretch;
    width: 70%;
    height: inherit;
    text-align: left;
    vertical-align:middle;
    margin-left: 50px;

    h2 {
      width: inherit;
      max-width: 580px;
      min-width: 350px;
      word-wrap: break-word;
      font-style: italic;
      font-family: 'Playfair Display', serif;
    }

    ul {
      margin-top: 40px;
      margin-left: -40px;
      margin-bottom: 125px;
    }

    li {
      display: inline-block;
      white-space: nowrap;
    }

    ul li {
      list-style: none;
      float: left;
      font-size:60px;
      color:rgb(2, 2, 2);
      font-family: 'Perpetua', serif;
    }
  
    .rotate {
      animation: rotate 1s;
      animation-fill-mode: forwards !important;
    }
  
}

img[alt~="cover_picture"]{
    width: auto;
    height: 100%;
    object-fit: contain;
}


@keyframes rotate {
    50% { 
      transform: rotateY(180deg); 
      color: #c69c6d;
    }
}

@media only screen and (max-width: 750px) {
  img[alt~="cover_picture"]{
    position:absolute;
    right:0;
    top:50px;
    height: 85%;
    width: 50%;
  }

  .container{width: 100%;}

  .container .description {
    >h2 {
      display: inline-block;
      font-size: 20px;
      max-width: 300px;
      min-width: 120px;
      height: auto;
    }
    >ul {
      margin-bottom: 40%;
    }
    li {
      font-size: 8vw;
    }
  }
}

@media only screen and (max-width: 750px) {
  img[alt~="cover_picture"]{
    display: none;
  }
  .container .description {
    margin-left: 15%;
    > h2 {
      font-size: 23px;
      margin-left: 3%;
      width: 800px;
      min-width: calc(60vw);
    }
    li {
      font-size: 15vw;
    }
  }
}