.container {
    width: 100vw;
    height: 500px;
    background-color: #100c08;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:before {
      width: 200px;
      height: 50px;
      right: 0px;
      margin-top: 0;
      padding: 0px 0px 0px -40px;
      content: ". . .    Extras";
      font-weight: 600;
      font-size: 33px;
      font-family: 'Playfair Display', serif;
      color: #100c08;
    }

    &:after {
      
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent; 
      border-left: 45px solid #100c08;
      right: 155px;
      top: 0;
      content: '';
    }

    &:before , &:after { 
      position: absolute;
      
      background-color:  rgb(231, 231, 231);

      -webkit-animation-name: containerFadeIn;
        animation-name: containerFadeIn;
        animation-duration: 0.75s;
    }

    .imageContainer {
      width: 300px;
      justify-content: center;
      align-self: center;
      // margin-left: 8%;
      margin-top: 7%;

      img {
        width: 300px;
        border-radius: 40px;
      }
    }
  
    .descriptionContainer {
      position: relative;
      display:block;
      width: 350px;
      // justify-content:center;
      // align-self:center;
      margin-left: 6%;
      margin-top: 7%;
      color: rgb(231, 231, 231);

     > p {
      margin: 0 auto;
      font-size: 20px;
      line-height: 34px;
      font-family: 'Playfair Display', serif;

      &::first-letter {
        color: #c69c6d;
        float: left;
        font-size: 4em;
        margin: 0.2em .2em 0 0;
      }
     }
     .chessHandles {
       position: absolute;
       bottom: 0;

       td {
         text-decoration: wavy;
         font-style: italic;
         color:  #c69c6d;
         font-weight: 900;
         padding: 0 40px;
       }
     }
    }

    .playlistsContaier {
      width: 325px;
      justify-content:center;
      align-self:center;
      margin-left: 3%;
    }


}

// .chessPicture { 
//   position: relative;
//   width: 400px; 
//   margin: 175px 20px 20px 60px;
//   // height: 400px;
// }

.gridContainer {

  >div > img {
    grid-area: img;
    width: 350px;
    border-radius: 100px;
  }

  display: grid;
  grid-template-columns: 350px 300px;
  grid-template-rows: 350px;
  gap: 0px 0px; 
  grid-template-areas: 
        "img .";
  margin: 175px 20px 20px 60px;

  > div>  p, >div >span {
    color: white;
  }

  > div > p {
    margin-left: 50px;
    font-size: 24px;
    width: 400px;
    line-height: 34px;
     font-family: 'Playfair Display', serif;
  }
  // img {
  //   width: 350px; 
  //   margin: 175px 20px 20px 60px;
  // }
  // &:before {
  //   position:absolute;
  //   right:100px; 
  //   top:200px;
  //   content: 'I am an avid competitive chess player who started playing ~3 years ago. I am currently in the 99.5 percentile ';
  //   background-color: #100c08;
  //   color: rgb(231, 231, 231);
  //   width: 300px;
  //   height: auto;
  // }
}


@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }