.container {
    width: 100vw;
    height: 500px;
    background-color: #100c08;

    &:before {
      width: 200px;
      height: 50px;
      right: 0px;
      margin-top: 0;
      padding: 0px 0px 0px -40px;
      
      content: ". . .    Extras";
      font-weight: 600;
      font-size: 33px;
      font-family: 'Playfair Display', serif;
      color: #100c08;
    }

    &:after {
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent; 
      border-left: 45px solid #100c08;
      right: 155px;
      content: '';
    }

    &:before , &:after { 
      position: absolute;
      background-color:  rgb(231, 231, 231);

      -webkit-animation-name: containerFadeIn;
        animation-name: containerFadeIn;
        animation-duration: 0.75s;
    }
}


@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }