.container {
    width: 95vw;
    height: auto;
    padding-top: 125px;
    background-color: #100c08;
    position: relative;
    display: flex;
    padding-bottom: 200px;
    
    flex-wrap: wrap;
    justify-content: center;

    &:before {
      top: 0;
      width: 200px;
      height: 50px;
      right: calc(0px - 6vw);
      margin-top: 0;
      padding: 0px 0px 0px -40px;
      content: ". . .    Extras";
      font-weight: 600;
      font-size: 33px;
      font-family: 'Playfair Display', serif;
      color: #100c08;
    }

    &:after {
      
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent; 
      border-left: 45px solid #100c08;
      right: calc(155px - 6vw);
      top: 0;
      content: '';
    }

    &:before , &:after { 
      position: absolute;
      
      background-color:  rgb(231, 231, 231);

      -webkit-animation-name: containerFadeIn;
        animation-name: containerFadeIn;
        animation-duration: 0.75s;
    }

    .imageContainer {
      background: url('../../assets/chess_picture.jpg');
      width: 300px;
      height: 400px;
      background-size: cover;
      border-radius: 35px;
      margin-top: 80px;
      margin-left: 50px;
      // overflow: hidden;
      // margin-top: 7%;
      position: relative;
      isolation: isolate;
      box-shadow: 2px 3px 30px 9px rgba(26, 26, 26, 0.58);
      
      > h2 {
        position: absolute;
        top: -135px;
        width: 8ch;
          font-family: 'Playfair Display', serif;
          font-size: 40px;
          background: linear-gradient(to right, #e98f29, #c69c6d 50%, rgb(235,235,235) 50%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-size: 200% 100%;
          background-position: 100%;
      
          transition: background-position 500ms ease;
      }

      > hr {
        position:absolute;
        top: -15px;
        width: 100%*2;
       }

      &::before {
        position: absolute;
        inset: 0;
        content: "";
        // margin: 35px;
        // opacity:0.001;
        z-index: -1;
        background:
         linear-gradient(
           0deg,
           rgba(0 0 0 / 0.9),
           rgba(0 0 0 / 0.1)
         )
      }
    }
  
    .descriptionContainer {
      position: relative;
      display:block;
      width: 350px;
      margin-top: 80px;
      margin-left: 6%;
      // margin-top: 7%;
      color: rgb(231, 231, 231);

     > p {
      margin: 0 auto;
      font-size: 20px;
      line-height: 34px;
      font-family: 'Playfair Display', serif;

      &::first-letter {
        color: #c69c6d;
        float: left;
        font-size: 4em;
        margin: 0.2em .2em 0 0;
      }
     }
     .chessHandles {
       padding-top: 65px;

       td {
         text-decoration: wavy;
         font-style: italic;
         color:  #c69c6d;
         font-weight: 900;
         padding: 0 40px;
       }
     }
    }

    .playlistLatexWrapper {
      display: block;
      width: 380px;
      margin-left: 3%;
      margin-right: 30px;
      position: relative;
        
      .playlistsContainer {
        
      }
      .latexContainer {
        padding-top: 170px;
      }
    }
}

@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @media only screen and (max-width: 1275px){
      .container .playlistLatexWrapper {
        display: flex;
        width: 700px;
        margin-top: 80px;
        margin-left: -3%;

        .playlistsContainer {
          // margin-left: 5%;
        }
        .latexContainer {
          padding-top: 65px;
          margin-left: 5%;
        }
      }
  }

  @media only screen and (max-width: 930px){
    .container {
      width: 90%;

      .imageContainer {  width: 40%; }
      .descriptionContainer {
        width: 40%;
        > p { font-size: 2vw; }
      }
      .chessHandles {
        width: 40%;
        margin-left: 10%;
        margin-top: -5%;
      }
      .playlistLatexWrapper {
        margin-left: 5%;
        width: 100%;
        // .playlistsContainer { width: 40vw; } 
      }
    }
}

@media only screen and (max-width: 870px){
  .container .playlistLatexWrapper {
    width: 350px;
    display: block;
    .playlistsContainer{
      margin-bottom: 50px;
    }
    .latexContainer{ margin-left: 0;}
  }
}

@media only screen and (max-width: 650px){
  .container  {
   .imageContainer{display: none;}
   .descriptionContainer{
     width: 80%; 
     >p  {
       font-size: 20px;
     }
    }
  }
}