.container {
    width: 100vw;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 5%;
    margin-left: 5%; */
    justify-content: center;
}

.container::before {
    width: 200px;
     height: 50px;
  position: absolute;
  left: 0;
  margin-top: 10px;
  padding: 0px 0px 0px 15px;
  background-color:  rgb(231, 231, 231);
  content: "About Me";
  font-weight: 600;
  font-size: 33px;
  font-family: 'Playfair Display', serif;
  /* text-align: center; */
  border-radius: 0px 10px 10px 0px;

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}
.container::after{
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  
  border-right:45px solid #100c08;
  position: absolute;
  left: 170px;
  margin-top: 10px;
  background-color:  rgb(231, 231, 231);
  content: '';

  -webkit-animation-name: containerFadeIn;
      animation-name: containerFadeIn;
      animation-duration: 0.75s;
}

.container > div {
    margin: 0 auto;
    position:relative;
    left:50px;
    right:10px;
    margin-top: 55px;
    /* width: 400px; */
    height: 250px;   
    /* flex-grow: 1; */
    color: white;
}
.container .leftParagraph,
.container .middleParagraph {
    width: 400px;
}
.rightParagraph .rightParagraph {
    width: 800px;
    text-overflow: clip;
}

hr {
    position:relative;
    margin-top: -20px;
    width: 75%;
    margin-right: 25%;
}

.container > div > h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

.container > div > p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.rightParagraph > p {
    display: grid;
    grid-template-columns: 50px 750px;
}
/* img[alt~="mcgillPicture"], 
img[alt~="bdebPicture"] {
    width: 50px;
    height: 50px;
} */

@keyframes containerFadeIn {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-2000px, 0, 0);
      transform: translate3d(-2000px, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
