body {
  background-color: #100c08;
  display: flex;
}

.App {
  position: relative;
}
.firstSeparator {
  position: absolute;
  display: block;
  width:100%; 
  height: 175px;
  top: 400px;
  margin: auto;
}

.secondSeparator {
  position: absolute;
  display: block;
  width:100%; 
  height: 175px;
  top: 1175px;
  margin: auto;
}
.thirdSeparator {
  position: absolute;
  display: block;
  width:100%; 
  height: 175px;
  top: 1850px;
  margin: auto;
}

@media only screen and (min-width: 1720px) {
  .secondSeparator {
    top: 900px;
  }
  .thirdSeparator {
    top: 1550px;
  }
}

@media only screen and (max-width: 920px) {
  .secondSeparator {
    top: 1350px;
  }
  .thirdSeparator{
    top: 2500px !important;
  }
}
 
@media only screen and (max-width: 1110px){
  .thirdSeparator{
    top: 2325px;
  }
} 